* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.dbg {
    border: 0px dotted red;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #000000;
    color: #999999;
}

h1,h2,h3,h4{
    color: #ffffff;
}


p {
    margin:0.5rem 0;
    color: #ffffff;
    overflow: hidden;
}

.head {
    position: relative;
    width: 100%;
    height: 80px;
    padding: 25px 50px;
    overflow: hidden;
    background-color: transparent;
    z-index: 2;
}
.head-left {
    float: left;
    width: 300;
    height: 100px;
}
.head-right {
    float: right;
    background-color: transparent;
}
.head-right > select {
    background-color: #000000;
    color: white;
    width: 95px;
    height: 37px;
    margin-right: 27px;
    display: inline;
    font-size: 15px;
    text-align: center;
    border: 3px solid none;
}
.head-right > button {
    background-color: #E50914;
    border: 1px solid red;
    border-radius: 3px;
    display: inline;
    font-size: 15px;
    width: 80px;
    height: 37px;
    color: white;
    text-align: center;
}
.head-right > button:hover {
    background-color: red;
}

.main {
    width: 100%;
    height: 790px;
    position: relative;
    z-index: 2;
    background-image: url(/img/website.jpg);
    border-bottom: 8px solid rgb(37, 37, 37);
}
.main::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: reba(0, 0, 0, 0.4);
    box-shadow: 120px 100px 250px #000000, inset -120px -100px 250px #000000;
}
.center {
    background-color: transparent;
}
.center > h1 {
    margin: 0 auto;
    position: relative;
    top: 160px;
    text-align: center;
    font: bold;
    font-size: 60px;
    background-color: transparent;
}

.center > h2 {
    margin: 0 auto;
    position: relative;
    top: 180px;
    font-weight:normal;
    text-align: center;
    font-size: 24px;
    background-color: transparent;
}
.center > h3 {
    max-width: 640px;
    margin: 0 auto;
    position: relative;
    top: 210px;
    font-weight: lighter;
    text-align: center;
    font-size: 19px;
    background-color: transparent;
}
/* .center > input {
    position: relative;
    z-index: 2;
    top: 180px;
    left: 600px;
    width: 500px;
    height: 70px;
    background-color: white;
}
.center > button {
    position: relative;
    z-index: 2;
    top: 190px;
    left: 595px;
    width: 200px;
    height: 70px;
    background-color: red;
    color: white;
    text-align: center;
    font-size: 30px;
    border: none;
} */
.center > typebar1 {
    position: relative;
    z-index: 2;
    top: 180px;
    left: 600px;
    width:70%;
    height: 30px;
    display: flex;
    align-items: center;
}
.typebar1 > input {
    position: relative;
    z-index: 2;
    top: 240px;
    right: 242px;
    width: 500px;
    height: 70px;
}
input[type="text1"] {
    width: 70%;
    border:none;
    font-size: 1em;
    padding-left: 5px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
}
input[type=button1] {
    width: 30%;
    height:70px;
    border:none;
    background-color:#E50914;
    font-size:30px;
    color: white;
    outline: none;
    display:inline;
    cursor: pointer;
    margin-left: -10px;
    box-sizing: border-box;
}

input[type=button1]:hover{
    background-color: red;
}
.tv {
    width: 100%;
    height: 474px;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(37, 37, 37);
}
.tvin {
    margin: -55px 79;
}
.tv-left {
    width: 50%;
    float: left;
    padding: 78px 0;
    padding-left: 200px;
}
    
.tv-left > h1 {
    text-align: left;
    font: bold;
    font-size: 50px;
    background-color: transparent;
}
.tv-left > p {
    margin: 0.75em 0 0.25em;
    text-align: left;
    font-size: 26px;
    background-color: transparent;
    overflow: hidden;
}
.tv-right {
    width: 50%;
    height: 397px;
    margin: 0px;
    overflow: hidden;
}
.contents {
    width: 100%;
    height: 470px;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(37, 37, 37);
}
.con1 {
    width: 50%;
    float: left;
    padding-left: 300px;
}
.con2 {
    padding: 70px 45px;
    width: 50%;
    float: right;
}
.con2 > h1 {
    margin: 0px 0px 8px;
    text-align: left;
    font: bold;
    font-size: 50px;
    background-color: transparent;
}
.con2 > p {
    margin: 19.5px 0px 6.5px;
    text-align: left;
    font-size: 26px;
    background-color: transparent;
    overflow: hidden;
}
.divice {
    width: 100%;
    height: 543px;
    padding: 70px 45px;
    border-bottom: 8px solid rgb(37, 37, 37);
}
.div1 {
    width: 50%;
    float: left;
    padding: 78px 115px;
    margin: 0 79px;
}
.div1 > h1 {
    margin: 0px 0px 8px;
    padding: 0px;
    text-align: left;
    font: bold;
    font-size: 50px;
    background-color: transparent;
    overflow: hidden;

}

.div1 > p {
    margin: 0.75em 0 0.25em;
    text-align: left;
    font-size: 26px;
    background-color: transparent;
    overflow: hidden;
}
.div2 {
    width: 40%;
    float: right;
    padding-left: 0;
}
.profile {
    width: 100%;
    height: 530px;
    border-bottom: 8px solid rgb(37, 37, 37);
}
.pro1 {
    width: 50%;
    float: left;
    padding-left: 20%;
    margin-top: 80px;
}
.pro2 {
    padding: 115px 0px;
    width: 50%;
    float: right;
    left: 0px;
}
.pro2 > h1 {
    margin: 0px 0px 8px;
    text-align: left;
    font: bold;
    font-size: 50px;
    background-color: transparent;
}
.pro2 > p {
    margin: 0.75em 0 0.25em;
    text-align: left;
    font-size: 26px;
    background-color: transparent;
    overflow: hidden;
}

.qna {
    display: flex;
    flex-direction: column;
    flex-basis: 40%;
    align-items: center;
    padding: 70px 45px;
    text-align: center;
    width: 100%;
    height: 964px;
    border-bottom: 8px solid rgb(37, 37, 37);
    
}
.qna > h1 {
    margin: 0px 0px 8px;
    text-align: center;
    padding-bottom: 40px;
    font: bold;
    font-size: 50px;
    background-color: transparent;
}

.qna > button {
    width: 815px;
    height: 76.59px;
    margin: 0px 0px 8px;
    padding: 20.8px 57.2px 20.8px 31.2px;
    border: none;
    cursor: pointer;
    text-align: left;
    font-size: 26px;
    background-color: #303030;
    color: white;
}
.qna > p {
    font-size: 19px;
    padding-top: 40px;
    padding-bottom: 10px;
}
.typebar2{
    width:70%;
    height:40px;
    padding-left: 15%;
    padding-top: 1.5%;
    display: flex;
    align-items: center;
}
input{
    margin:0;
    width: 500px;
    height: 70px;
}
input[type="text2"]{
    width: 80%;
    border:none;
    font-size: 1em;
    padding-left: 5px;
    font-style: oblique;
    display:inline;
    outline:none;
    box-sizing: border-box;
    color:black;
}
input[type=button2]{
    width: 20%;
    height:70px;
    border:none;
    background-color:#E50914;
    font-size:30px;
    text-align: center;
    color: white;
    outline: none;
    display:inline;
    margin-left: -10px;
    box-sizing: border-box;
}

input[type=button2]:hover{
    background-color: red;
}

.footer {
    width: 100%;
    height: 535px;
    padding: 70px 45px 0px;
}
.footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    max-width: 70%;
    margin: 0px 0px 16px;
    margin-left: 415px;
    overflow: auto;
}
.footer-cols > ul > li:hover {
    border-bottom: 1px solid#757575;
}

.footer  p {
    margin-bottom: 1.5rem;
    color: #757575;
    margin-left: 0;
}
.footer > p {
    margin-left: 415px;
}
.footer a {
    font-size: 0.9rem;
    color: #757575;
}
.footer-cols > select {
    width: 132px;
    height: 53.19px;
    margin-right: 27px;
    background-color: #000000;
    color: white;
    font-size: 15px;
    text-align: center;
    border: 1px solid rgba(230, 230, 230, 0.726);
    border-radius: 2px;
}
.footer-country > p {
    text-align: left;
    margin: 0 0;
    margin-left: 415px;
    font-size: 12px;
}
.footer-country > a {
    font-size: 12px;
    margin-left: 415px;
}
